* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.container {
    width: 60vw;
    height: 300px;
    margin: auto;
    background-color: #6c6a7e;
}
